<f:layout name="MapAdministrationBackendModule/Header" />

<f:section name="content">
    <div>
        <h2 class="uppercase">
            <f:translate key="LLL:EXT:wec_map/Resources/Private/Languages/Backend/MapAdministration/locallang.xlf:apikey">
                Apikey
            </f:translate>
        </h2>

		<p style="margin-bottom:15px;">
            <f:translate key="LLL:EXT:wec_map/Resources/Private/Languages/Backend/MapAdministration/locallang.xlf:apiInstructions">
                apiInstructions
            </f:translate>
		</p>

		<f:be.tableList tableName="sys_domain" fieldList="{0: 'domainName', 1: 'serverKey', 2: 'browserKey', 3: 'staticKey'}" storagePid="0" levels="99" clickTitleMode="edit" />

    </div>
</f:section>